name: Release
permissions:
  id-token: write # Required for OIDC
  contents: read
on:
  workflow_dispatch:
    inputs:
      increment:
        description: "Version increment type"
        required: true
        default: "patch"
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # For git operations
      id-token: write # < REQUIRED FOR OIDC
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Release
        run: bunx release-it ${{ inputs.increment }} --ci
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
